:root:root {
  --adm-color-primary: #84298F;
  --adm-color-text-secondary: #000;
  --adm-color-wathet: #ebebeb;
  --adm-color-danger: #d9281e;
}
.adm-notice-bar.adm-notice-bar-info {
  --background-color: #F5F5F5;
  --border-color: #F5F5F5;
  color: #000;
}

.adm-search-bar {
  border-bottom:  1px solid var(--adm-color-border);
}

body {
  margin: 4px;
}

.rv-selector__item {
  margin-bottom: 5px;
  margin-right: 5px;
}