@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  --rv-primary-color: #004863;
}

body {
  user-select: none;
  margin: 4px;
  color: #334551;
}

.rv-selector__item {
  margin-bottom: 5px;
  margin-right: 5px;
}

.rv-popover__wrapper {
  align-items: center;
}

/* Tabbar */
.rv-tabbar-item {
  .rv-tabbar-item__icon{
    border-radius: 40%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

  }
}

.rv-tabbar-item--active {
  font-weight: 700 !important;
  
  .rv-tabbar-item__icon{
    border-radius: 40%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: white;
    background-color: #397b9d;
  }
}

/* */

body {
  margin: 0;
}

.rv-cell__left-icon img {
  border-radius: 50%;
}